<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div class="col-xl-6 col-lg-8 col-md-10 col-12 mx-auto">
      <div class="card shadow mb-5">
        <div class="card-header">
          <h5><strong>会員ステータスの変更</strong></h5>
        </div>
        <div class="card-body">
          <%= @member.nickname %> （<%= @member.name %>、会員No.<%= @member.id %>）さんの会員ステータスを変更する
          <%= form_with model: @member, url: admin_member_path do |f| %>
          <div class="row mt-4 mb-3">
            <div class="col-3">
              <div class="form-check">
                <%= f.radio_button :delete_status, "active" %>
                  <%= f.label :delete_status, "有効" %>
              </div>
            </div>
            <div class="col-3">
              <div class="form-check">
                <%= f.radio_button :delete_status, "withdrawal" %>
                  <%= f.label :delete_status, "退会" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <%= f.submit "変更を保存", class: 'btn btn-success' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>