<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>レビュー詳細</strong></h3>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-8 col-12 mb-4">
      <!--レビュー文と投稿者-->
      <%= render 'admin/reviews/review', review: @review %>
      <h5 class="mt-4">■ コメント（<%= @review.comments.count %>件）</h5>
      <%= render 'admin/reviews/comment', review: @review %>
    </div>
    <div class="col-md-4 col-12">
      <%= render 'public/reviews/book', review: @review %>
    </div>
  </div>
  <%= link_to "レビュー一覧に戻る", admin_reviews_path, class: "btn btn-outline-success" %>
</div>