
<h4>プロフィール</h4>

<div>
  <% if @member.profile_image.attached? %>
    <%= image_tag @member.profile_image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
</div>

<div>ニックネーム：<%= @member.nickname %></div>
<div>
  <%= Date.today.strftime("%Y%m%d").to_i/10000 - @member.year_of_birth.to_i %>歳
</div>
<div>
  自己紹介<br>
  <%= @member.self_introduction %>
</div>

<div>
  <%= link_to "編集する", edit_member_path(current_member.id) %>
</div>


<h4>絵本を探す</h4>


<h4>検討リスト</h4>


<h4>レビューリスト</h4>

