タグ一覧

<div>■ジャンルタグ</div>
<%= form_with model: @genre_tag, url: admin_genre_tags_path do |f| %>
  <%= f.text_field :genre, placeholder: "ジャンル名" %>
  <%= f.submit "新規登録" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @genre_tags.each do |genre_tag| %>
   <tr>
    <td><%= genre_tag.genre %></td>
    <td>
    <%= link_to "編集", edit_admin_genre_tag_path(genre_tag.id), class: "btn btn-outline-success btn-sm" %>
    <%= link_to "削除", admin_genre_tag_path(genre_tag.id), method: :delete, class: "btn btn-outline-success btn-sm" %>
    </td>

   </tr>
  <% end %>
  </tbody>
</table>



<div>■対象年齢タグ</div>
<%= form_with model: @target_age_tag, url: admin_target_age_tags_path do |f| %>
  <%= f.text_field :target_age, placeholder: "対象年齢" %>
  <%= f.submit "新規登録" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>対象年齢</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @target_age_tags.each do |target_age_tag| %>
   <tr>
    <td><%= target_age_tag.target_age %></td>
    <td>
      <%= link_to "編集", edit_admin_target_age_tag_path(target_age_tag.id), class: "btn btn-outline-success btn-sm" %>
      <%= link_to "削除", admin_target_age_tag_path(target_age_tag.id), method: :delete, class: "btn btn-outline-success btn-sm" %>
    </td>
   </tr>
  <% end %>
  </tbody>
</table>

