<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>みんなのレビュー</strong></h3>
    </div>
  </div>

  <% @reviews.each do |review| %>
  <div class="card mt-4 shadow">
    <tr>
      <td><%= link_to (image_tag(review.book_image_url)), review.rakuten_books_url %></td>
      <td>
        <%= review.title %><br>
        作者：<%= review.author %>
        出版社：<%= review.publisher %>
        出版日：<%= review.date_of_publication %><br>
        ISBNコード：<%= review.isbn_code %><br>
      </td>
      <td>
        レビュー：<%= review.review %><br>
        投稿者：<%= Member.find(review.member_id).nickname %><br>
        <%= link_to "詳細を見る", review_path(review.id) %>
      </td>

    </tr>
  </div>
  <% end %>

</div>