<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>レビュー投稿</strong></h3>
    </div>
  </div>



絵本
    <td><%= link_to (image_tag(@review.book_image_url)), @review.rakuten_books_url %></td>
    <td>
      <%= @review.title %><br>
      作者：<%= @review.author %>
      出版社：<%= @review.publisher %>
      出版日：<%= @review.date_of_publication %><br>
      ISBNコード：<%= @review.isbn_code %><br>
    </td>

<div>
レビュー
<%= form_with model: @review, url: post_review_path(@review.id), method: :patch do |f| %>
    <%= f.text_area :review, autocomplete: "review" %>
    <%= f.collection_check_boxes(:genre_tag_ids, GenreTag.all, :id, :genre) %>
    <%= f.collection_check_boxes(:target_age_tag_ids, TargetAgeTag.all, :id, :target_age) %>
    <%= f.submit "投稿", class: "btn btn-success" %>
<% end %>
</div>


<%= link_to "レビュー投稿をやめる", review_path(@review.id), method: :delete, class: "btn btn-secondary" %>

</div>