<div>
  <strong>レビュー詳細</strong>
</div>

<div>
  <strong>絵本</strong>
</div>


    <td><%= link_to (image_tag(@review.book_image_url)), @review.rakuten_books_url %></td>
    <td>
      <%= @review.title %><br>
      作者：<%= @review.author %>
      出版社：<%= @review.publisher %>
      出版日：<%= @review.date_of_publication %><br>
      ISBNコード：<%= @review.isbn_code %><br>
    </td>

<div>
レビュー<br>
<%= @review.review %><br>

<!--投稿者本人だけに編集リンクを表示-->
<% if @review.member_id == current_member.id %>
  <%= link_to "レビューを編集する", edit_review_path(@review.id) %>
<% end %>

</div>

<div>
  <p>コメント件数：<%= @review.comments.count %></p>

<table>
<% @review.comments.each do |comment| %>
  <tr>
    <%= comment.member.nickname %>
    <br>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <br>
    <% if comment.member == current_member %>
      <%= link_to "削除", review_comment_path(comment.review, comment), method: :delete %>
    <% end %>
  </tr>
<% end %>
</table>

</div>
<div>
  <%= form_with model: [@review, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<div>
同じ本への他のレビュー（ISBNで検索して表示できれば）
</div>


<%= link_to "レビュー一覧に戻る", reviews_path %>