<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>レビュー詳細</strong></h3>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-8">
      <!--レビュー文と投稿者-->
      <%= render 'public/reviews/review', review: @review %>
      <h5 class="mt-4">■ コメント（<%= @comments.count %>件）</h5>
      <%= render 'public/reviews/comment', review: @review, comments: @comments %>
    </div>
    <div class="col-4">
      <%= render 'public/reviews/book', review: @review %>
    </div>
  </div>
  <%= link_to "レビュー一覧に戻る", reviews_path, class: "btn btn-outline-success" %>
</div>
      <% if @comment.errors.any? %>
        <%= @comment.errors.count %>件のエラーが発生しました
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
