<div class="container mb-5">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>マイ検討リスト</strong></h3>
    </div>
  </div>

  <!--購入検討ステータスでの絞り込み検索フォーム-->
  <%= render 'public/candidate_posts/search-form' %>
<% if @candidate_post.errors.any? %>
  <%= @candidate_post.errors.count %>件のエラーが発生しました
  <ul>
    <% @candidate_post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <!--購入検討リスト-->
  <%= render 'public/candidate_posts/index', candidate_posts: @candidate_posts %>
  <div class="pagination justify-content-center mt-4">
  <%= paginate @candidate_posts %>
  </div>

</div>