検討リスト

<% @candidate_posts.each do |candidate_post| %>
<div>

    <td><%= link_to (image_tag(candidate_post.book_image_url)), candidate_post.rakuten_books_url %></td>
    <td>
      <%= candidate_post.title %><br>
      作者：<%= candidate_post.author %>
      出版社：<%= candidate_post.publisher %>
      出版日：<%= candidate_post.date_of_publication %><br>
      ISBNコード：<%= candidate_post.isbn_code %><br>
    </td>

</div>
<% end %>
