マイ検討リスト

<% @candidate_posts.each do |candidate_post| %>
<div>

    <td><%= link_to (image_tag(candidate_post.book_image_url)), candidate_post.rakuten_books_url %></td>
    <td>
      <%= candidate_post.title %><br>
      作者：<%= candidate_post.author %>
      出版社：<%= candidate_post.publisher %>
      出版日：<%= candidate_post.date_of_publication %><br>
      ISBNコード：<%= candidate_post.isbn_code %><br>
      ステータス：<%= candidate_post.consideration_status_i18n %>
      メモ：<%= candidate_post.memo %>

      <%= form_with model: candidate_post, url: candidate_post_path(candidate_post.id), local: true do |f| %>
            <td><%= f.select :consideration_status, CandidatePost.consideration_statuses.keys.map {|k| [I18n.t("enums.candidate_post.consideration_status.#{k}"), k]} %></td>
            <td><%= f.text_area :memo %></td>
            <td><%= f.submit "更新", class: 'btn btn-success' %></td>
      <% end %>

    </td>

    <td>
      <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
        <%= f.hidden_field :member_id, value: current_member.id %>
        <%= f.hidden_field :title, value: candidate_post.title %>
        <%= f.hidden_field :author, value: candidate_post.author %>
        <%= f.hidden_field :publisher, value: candidate_post.publisher %>
        <%= f.hidden_field :date_of_publication, value: candidate_post.date_of_publication %>
        <%= f.hidden_field :isbn_code, value: candidate_post.isbn_code %>
        <%= f.hidden_field :book_image_url, value: candidate_post.book_image_url %>
        <%= f.hidden_field :rakuten_books_url, value: candidate_post.rakuten_books_url %>
        <%= f.submit 'レビューする' %>
      <% end %>
    </td>



</div>
<% end %>
