<!--絵本の検索結果と検討リスト登録やレビュー投稿のためのボタン-->
<% books.each do |book| %>
<div class="card mt-4 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="card-body">
          <div class="card-title">
          <%= link_to (image_tag(book.large_image_url)), book.item_url %>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="card-body">
          <h5 class="card-title"><strong><%= book.title %></strong></h5>
          <table>
            <tr>
              <td>作者</td>
              <td>：<%= book.author %></td>
            </tr>
            <tr>
              <td>出版社</td>
              <td>：<%= book.publisher_name %></td>
            </tr>
            <tr>
              <td>出版日</td>
              <td>：<%= book.sales_date %></td>
            </tr>
            <tr>
              <td>ISBN</td>
              <td>：<%= book.isbn %></td>
            </tr>
            <tr>
              <td>内容</td>
              <td>：<%= book.item_caption %></td>
            </tr>
          </table>

          <div class="row mt-3">
            <div class="col"></div>
            <div class="col-4">
              <%= render 'public/books/candidate-posting', candidate_post: @candidate_post, book: book %>
            </div>
            <div class="col-4">
              <%= render 'public/books/reviewing', review: @review, book: book %>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>