<div class="container">
  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
    <h3><strong>絵本を探す</strong></h3>
    </div>

    <%= form_with url: books_search_path , method: :get, local: true do |f| %>
        <%= f.select :parameter,  [["タイトル","title"],["作者","author"],["出版社","publisherName"],["ISBNコード","isbn"]] %>
        <%= f.text_field :keyword %>
        <%= f.submit '検索', class: "btn btn-success btn-sm" %>
    <% end %>
  </div>


  <div class="row">

    <table class="table table-bordered">
      <thead>
        <th colspan="2">絵本</th>
        <th>検討リストへの登録</th>
      </thead>

      <tbody>
        <% @books.each do |book| %>
        <tr>
          <td><%= link_to (image_tag(book.medium_image_url)), book.item_url %></td>
          <td>
            <strong><%= book.title %></strong><br>
            <br>
            作者：<%= book.author %><br>
            出版社：<%= book.publisher_name %>
            出版日：<%= book.sales_date %><br>
            ISBNコード：<%= book.isbn%><br>
            内容：<%= book.item_caption%>
          </td>
          <td>
            <%= form_with model: @candidate_post, url: candidate_posts_path do |f| %>
              <%= f.hidden_field :member_id, value: current_member.id %>
              <%= f.hidden_field :title, value: book.title %>
              <%= f.hidden_field :author, value: book.author %>
              <%= f.hidden_field :publisher, value: book.publisher_name %>
              <%= f.hidden_field :date_of_publication, value: book.sales_date %>
              <%= f.hidden_field :isbn_code, value: book.isbn %>
              <%= f.hidden_field :book_image_url, value: book.medium_image_url %>
              <%= f.hidden_field :rakuten_books_url, value: book.item_url %>
              <%= f.submit '登録する' %>
            <% end %>
          </td>
          <td>
            <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
              <%= f.hidden_field :member_id, value: current_member.id %>
              <%= f.hidden_field :title, value: book.title %>
              <%= f.hidden_field :author, value: book.author %>
              <%= f.hidden_field :publisher, value: book.publisher_name %>
              <%= f.hidden_field :date_of_publication, value: book.sales_date %>
              <%= f.hidden_field :isbn_code, value: book.isbn %>
              <%= f.hidden_field :book_image_url, value: book.medium_image_url %>
              <%= f.hidden_field :rakuten_books_url, value: book.item_url %>
              <%= f.submit 'レビューする' %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>


</div>