本の検索
<div class=".search-box">
  <%= form_with url: books_search_path , method: :get, local: true do |f| %>
      <%= f.text_field :keyword, class: "form-control" %>
      <%= f.submit '本の題名を検索', class: "form-control btn btn-success" %>
  <% end %>
</div>

<% @books.each do |book| %>
  <div class="book-data">
    <%= link_to (image_tag(book.medium_image_url)), book.item_url %>
    <%= book.title %>
    作者：<%= book.author %>
    出版社：<%= book.publisher_name %>
    出版日：<%= book.sales_date %>
    ISBNコード:<%= book.isbn%>
    <%= book.item_caption%>


    <%= form_with model: @candidate_post, url: candidate_posts_path do |f| %>
      <%= f.hidden_field :isbn, book.isbn %>
      <%= f.submit_tag '登録する' %>
    <% end %>

  </div>
<% end %>