<div class="container mb-5">

  <div class="row d-flex flex-column justify-content-center my-5">
    <div>
      <h3><strong>絵本を探す</strong></h3>
    </div>
  </div>

  <%= render 'public/books/search-form' %>

  <% @books.each do |book| %>
  <div class="card mt-4 shadow">
    <div class="card-body">
      <div class="row">


        <div class="col-3">
          <div class="card-body">
            <div class="card-title">
            <%= link_to (image_tag(book.large_image_url)), book.item_url %>
            </div>
          </div>
        </div>

        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title"><strong><%= book.title %></strong></h5>
            <table>
              <tr>
                <td>作者</td>
                <td>：<%= book.author %></td>
              </tr>
              <tr>
                <td>出版社</td>
                <td>：<%= book.publisher_name %></td>
              </tr>
              <tr>
                <td>出版日</td>
                <td>：<%= book.sales_date %></td>
              </tr>
              <tr>
                <td>ISBN</td>
                <td>：<%= book.isbn %></td>
              </tr>
              <tr>
                <td>内容</td>
                <td>：<%= book.item_caption %></td>
              </tr>
            </table>

            <div class="row mt-3">
              <div class="col"></div>

              <div class="col-4">

              <% if !CandidatePost.find_by(isbn_code: book.isbn, member_id: current_member.id) %>
                <%= form_with model: @candidate_post, url: candidate_posts_path do |f| %>
                  <%= f.hidden_field :member_id, value: current_member.id %>
                  <%= f.hidden_field :title, value: book.title %>
                  <%= f.hidden_field :author, value: book.author %>
                  <%= f.hidden_field :publisher, value: book.publisher_name %>
                  <%= f.hidden_field :date_of_publication, value: book.sales_date %>
                  <%= f.hidden_field :isbn_code, value: book.isbn %>
                  <%= f.hidden_field :book_image_url, value: book.medium_image_url %>
                  <%= f.hidden_field :rakuten_books_url, value: book.item_url %>
                  <%= f.submit 'マイ検討リストに登録する', class: "btn btn-success btn-sm" %>
                <% end %>
              <% else %>
                <%= link_to "マイ検討リストに登録済み", candidate_posts_path, class: "btn btn-outline-success btn-sm" %>
              <% end %>
              </div>

              <div class="col-4">
              <% if !Review.find_by(isbn_code: book.isbn, member_id: current_member.id) %>
                <%= form_with model: @review, url: reviews_path, method: :post do |f| %>
                  <%= f.hidden_field :member_id, value: current_member.id %>
                  <%= f.hidden_field :title, value: book.title %>
                  <%= f.hidden_field :author, value: book.author %>
                  <%= f.hidden_field :publisher, value: book.publisher_name %>
                  <%= f.hidden_field :date_of_publication, value: book.sales_date %>
                  <%= f.hidden_field :isbn_code, value: book.isbn %>
                  <%= f.hidden_field :book_image_url, value: book.medium_image_url %>
                  <%= f.hidden_field :rakuten_books_url, value: book.item_url %>
                  <%= f.submit 'レビュー投稿する', class: "btn btn-success btn-sm" %>
                <% end %>
              <% else %>
                <%= link_to "マイレビュー詳細", review_path(Review.find_by(isbn_code: book.isbn, member_id: current_member.id).id), class: "btn btn-outline-success btn-sm" %>
              <% end %>
              </div>
              <div class="col"></div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <% end %>

</div>