<!DOCTYPE html>
<html>
  <head>
    <title>PictureBookLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #FFFFEE;", class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <% if admin_signed_in? %>
        <%= render 'admin/header' %>
      <% else %>
        <%= render 'public/header' %>
      <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer style="background-color: #EEEEEE;" class="text-center">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
